<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="domyClient1" class="test.netty.client.connect.DomyNettyConnect" init-method="connect">
        <constructor-arg name="port" value="8888"/>
        <constructor-arg name="host" value="localhost"/>
    </bean>
</beans>