<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 扫描mybatis 配置文件-->
    <bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations">
            <list>
                <value>classpath*:mapper/*Mapper.xml</value>
            </list>
        </property>    </bean>

    <bean id="jdbcTemplate" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">
        <constructor-arg>
            <ref bean="sqlSessionFactory"></ref>
        </constructor-arg>
    </bean>
    
    <!-- 扫描Mapper 配置文件-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.lww.shiro.dao" />
        <property name="annotationClass" value="com.lww.shiro.annotation.MyBatisDao"></property>
        <property name="sqlSessionFactoryBeanName" value="jdbcTemplate" />
    </bean>
</beans>